body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
}

h1 {
  text-align: center;
  letter-spacing: 4px;
  margin: 20px 0;
}

.movie-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.card {
  display: flex;
  gap: 15px;
  background: #111;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background: #1a1a1a;
}

.card img {
  width: 90px;
}

.details {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.details img {
  width: 100%;
  max-width: 300px;
}

.back {
  display: block;
  padding: 15px;
  color: #aaa;
  text-decoration: none;
}